@forward './fonts';
@forward './mixins';

$white: #FFFFFF;
$black: #000000;
$soft-gray: rgb(206, 206, 206);
$text-color: #3c484e;
$main-color: #239529;
$green: rgba(70, 235, 64, 0.705);
$input-color: #d9d9d9;