@use '../../styles/variables' as *;

.product {
  margin: 0 0 20px 0;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgba(65, 60, 60, 0.26);

  &__image_container {
    display: flex;
    width: 246px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
  }

  &__info {
    padding: 10px;
  }

  &__info_title {
    display: flex;
    justify-content: space-between;
    @include font-style( $main-font, 400, 1.8rem, 1px, $text-color );
  }

  &__info_price {
    @include font-style( $main-font, 400, 1.8rem, 0px, $main-color );
  }

  &__info_description {
    @include font-style( $main-font, 300, 1.4rem, 0px, $black );
  }

  &__btn-comprar {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    border: 0px;
    outline: 0;
    background-color: $green;
    @include font-style( $main-font, 500, 1.6rem, 0px, $text-color );
  }

  &__btn-comprar:hover {
    color: $white;
    cursor: pointer;
  }

  &__btn-comprar:active {
    background-color: rgb(140, 247, 137);
  }

}
