@use '../../styles/variables' as *;

.checkout__item {
  display: flex;
  width: 100%;
  margin: 10px 0 0 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &_texts {
    display: flex;
    width: 100%;
    border-bottom: 1px dotted $main-color;
    justify-content: space-between;
  }

  &_title, &_price {
    @include font-style( $main-font, 500, 1.4rem, 1px, $text-color );
  }

  &_btn-delete {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &_btn-icon:hover {
    transform: scale(1.1);
  }

}