@use '../../styles/variables' as *;

.header{
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(97, 192, 88, 0.253);
  backdrop-filter: blur(20px);

  &__title_logo {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  &__link {
    text-decoration: none;
  }

  &__checkout {
    display: flex;
    width: 50px;
    height: 40px;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
  }

  &__checkout_cant {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    left: 25px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: $green;
    text-align: center;
    vertical-align: middle;
    @include font-style( $main-font, 400, 1.2rem, 0px, $black);
  }

  &__checkout_cart:hover {
    transform: scale(1.1);
  }

}
